<html>
<head>
</head>
<body>
@@navigation,oobbBasic.type,value@@
<div id="oompMain">
	<center>
	<div id="oompAllPartContainer" class="table" >
		<div class="row oompReverseColors">
			<div class="cell oompAPPartID oompReverseColors"><b><center>Part ID</center></b></div>
			<div class="cell oompAPName oompReverseColors"><b><center>Name</center></b></div>
#			<div class="cell oompAPHexCode oompReverseColors"><b><center>Hex<br>Code</center></b></div>
		</div>
::::		
^^0,500,%%U%%^^==%%U%%,oobbPart.oobbID,oobbID==
<div class="row">
	<div class="oompAPPartID wordwrap cell oompSmall"><center><b><a href="http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%U%%,oobbPart.oobbID,oobbID!!">!!%%U%%,oobbPart.oobbID,oobbID!!</a></b></center></div>
	<div class="oompAPName wordwrap cell"><a href="http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%U%%,oobbPart.oobbID,oobbID!!">!!%%U%%,oobbPart.oobbID,name!!</a></div>
	
</div>
;;;;
#<div class="oompAPHexCode wordwrap cell"><b><center><a href="http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%U%%,oobbPart.oobbID,oobbID!!">!!%%U%%,oobbPart.oobbID,hexID!!</a></center></b></div>
	</div>
	</center>
</div>	
</body>
</html>