## OOBB -- Template for a picture index

<html>
<body>

<div id="oompMain">

@@navigation,oobbBasic.type,value@@
</html>
<h1>
OOBB - OOpen Building Block System.
</h1>
The OOpen Building Block System. A set of laser cutable components that can be bolted together to make any number of things. Relying on a 20 mm hole spacing and standard M6 hardware.
<br><br>
	<b>Notes</b>
*Main Bolt Size M6 x 12

*Laser Cutter Style:
**Black --> Cut Line
**Orange --> Etch Line
	<b>Types</b>
*PL - Plates
*JA - Jacks
*BP - Bearing Plate
*SP - Spacer Plate
*MM - Motor Mounts
*SC - Shaft Couplers
*CI - Circles
*MP - Mounting Plates
*GO - GORM Items

	<br><br>
Below is an index of all currently available parts.
<br><br>
^^0,10,%%U%%^^==%%U%%,oobbType.code,code==<h1>!!%%U%%,oobbType.code,code!! - !!%%U%%,oobbType.code,name!!</h1>~~{| class="wikitable"~~|-~~|&nbsp;~~|<b>ID</b>~~|<b>Name</b>~~^^0,500,%%T%%^^++!!%%T%%,oobbPart.typeOOBB,typeOOBB!!,!!%%U%%,oobbType.code,code!!++|-~~|[http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%T%%,oobbPart.oobbType,oobbID!! http://oomlout.com/oomlout-OOBB/part/!!%%T%%,oobbPart.oobbType,typeOOBB!!/!!%%T%%,oobbPart.oobbType,oobbID!!/OOBB-!!%%T%%,oobbPart.oobbType,oobbID!!_140.png]~~|<b>[http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%T%%,oobbPart.oobbType,oobbID!! !!%%T%%,oobbPart.oobbType,oobbID!!]</b>~~|[http://learn.oomlout.co.uk/OO/Projects/oobb/part/!!%%T%%,oobbPart.oobbType,oobbID!! !!%%T%%,oobbPart.oobbType,name!!]~~""~~|}~~~~~~""


<html>
</body>
</html>