<html>
	<head>
	<title>@@%%ID%%,oobbPart.oobbID,name@@ Redirect</title>
<STYLE type="text/css">
	a 			   {text-decoration: none;}
	a img          { border: 0px; }
	a:hover img    {border: 0px; }
	a:visited img  {border: 0px; }
.pageType	   { color: #999999; font: 225%/1.4 Arial, Verdana, Helvetica, Sans-Serif; font-weight: bold; text-align: left; line-height: 1.75em; }
.smalloomlout  {color: #999999; font: 80%/1.4 Arial, Verdana, Helvetica, Sans-Serif; font-weight: bold;  line-height: 1.75em;}
 </STYLE>
<meta http-equiv="REFRESH" content="2;url=https://raw.githubusercontent.com/oomlout/oomlout-OOBB/master/part/%%ID%%">
</HEAD>
<BODY>
<br>
<br>
<br>
  <center>
  <a href="https://raw.githubusercontent.com/oomlout/oomlout-OOBB/master/part/%%ID%%">
  <span class="pageType">
    .: currently being redirected to :. <br> .: @@%%ID%%,oobbPart.oobbID,name@@ :.
  </span>
  <br>
  <span class="smalloomlout">
    (don't want to wait? click below)
  </span>
  <br>
$$OOBB-%%ID%%_420.png$$<img src="http://www.oomlout.com/oomlout-OOBB/part/@@%%ID%%,oobbPart.oobbID,typeOOBB@@/%%ID%%/OOBB-%%ID%%_420.png">
$$OOBB-%%ID%%_420.jpg$$<img src="http://www.oomlout.com/oomlout-OOBB/part/@@%%ID%%,oobbPart.oobbID,typeOOBB@@/%%ID%%/OOBB-%%ID%%_420.jpg">
  </a>
  </center>
</BODY>
</HTML>

</html>
	
